.d-inline-block.pa-0.ma-0
  .pa-0.ma-0(v-if="isNull(value)")
  .pa-0.ma-0(v-else-if="isScalarType(value)") {{value}}
  v-simple-table(dense outlined v-else-if="Array.isArray(value)" height="auto")
    template(v-slot:default)
      thead(outlined)
        tr
          td.pa-0.ma-0(v-for="name in getColumns(value)")
            v-sheet.font-weight-black(outlined height="100%" width="100%")
              template(v-if="name===ScalarType")
              template(v-else-if="getColumnName(name)!==null") {{getColumnName(name)}}
      tbody
        tr(v-for="item,index in value")
          td.pa-0.ma-0(v-for="key in getColumns(value)")
            v-sheet(outlined height="100%" width="100%")
              template(v-if="isNull(item)")
              template(v-else-if="key===ScalarType&&isScalarType(item)") {{item}}
              template(v-else-if="getColumnName(key)!==null")
                json-table(:value="item[getColumnName(key)]")
              template(v-else-if="Array.isArray(key)&&key[0]===index")
                json-table(:value="item")
  v-simple-table(dense outlined v-else-if="typeof(value)==='object'")
    template(v-slot:default v-if="Object.keys(value).length>0")
      tbody
        tr(v-for="v,key in value") 
          td.pa-0.ma-0
            v-sheet.font-weight-black(outlined height="100%" width="100%") {{key}}
          td.pa-0.ma-0
            v-sheet(outlined height="100%" width="100%")
              json-table(:value="v")
