v-app
  v-app-bar(app)
    v-toolbar-title json2table
  v-main
    v-container(fluid outlined height="30vh")
      v-textarea(outlined label="json" v-model='text' @input="translate")
    v-container(fluid outlined height="60vh").overflow-auto
      json-table(v-model="value")
