.container-fluid.px-0
  nav.navbar.navbar-dark.bg-dark
    .navbar-brand.d-flex
      div JSON to table
  .container-fluid.px-0.d-flex.flex-wrap
    b-card(no-body).w-100
      b-card-body
        textarea.w-100(v-model='text' @input="translate" style="min-height: calc(30vh)")
    b-card(no-body style="min-height: calc(60vh)").w-100
      b-card-body.overflow-auto
        json-table(v-model="value")